[submodule "stm32f0"]
	path = stm32f0
	url = https://github.com/yhsb2k/stm32f0.git
[submodule "stm32f1"]
	path = stm32f1
	url = https://github.com/yhsb2k/stm32f1.git
[submodule "stm32f4"]
	path = stm32f4
	url = https://github.com/yhsb2k/stm32f4.git
[submodule "esp8266"]
	path = esp8266
	url = https://github.com/yhsb2k/esp8266.git
[submodule "esp32"]
	path = esp32
	url = https://github.com/yhsb2k/esp32.git
[submodule "rp2040"]
	path = rp2040
	url = https://github.com/yhsb2k/rp2040.git
