[submodule "stm32f0"]
	path = stm32f0
	url = https://github.com/yhsb2k/stm32f0.git
	branch = master
[submodule "stm32f1"]
	path = stm32f1
	url = https://github.com/yhsb2k/stm32f1.git
	branch = master
[submodule "stm32f4"]
	path = stm32f4
	url = https://github.com/yhsb2k/stm32f4.git
	branch = master
[submodule "rp2040"]
	path = rp2040
	url = https://github.com/yhsb2k/rp2040.git
	branch = master
[submodule "esp32s3"]
	path = esp32s3
	url = https://github.com/yhsb2k/esp32s3.git
	branch = master
