
#include "gpio.hpp"
#include "drv/di/di.hpp"

#include "third_party/FreeRTOS/include/FreeRTOS.h"
#include "third_party/FreeRTOS/include/task.h"

using namespace hal;
using namespace drv;

static void b1_cb(di *di, bool state, void *ctx);

static void di_task(void *pvParameters)
{
	di *b1_di = (di *)pvParameters;
	while(1)
	{
		b1_di->poll();
		vTaskDelay(1);
	}
}

int main(void)
{
	static gpio b1(0, 0, GPIO_MODE_DI, 0);
	static gpio green_led(3, 12, GPIO_MODE_DO, 0);
	
	static di b1_di(b1, 100, 1);
	b1_di.cb(b1_cb, &green_led);
	
	xTaskCreate(di_task, "di", configMINIMAL_STACK_SIZE * 1, &b1_di,
		tskIDLE_PRIORITY + 2, NULL);
	
	vTaskStartScheduler();
}

static void b1_cb(di *di, bool state, void *ctx)
{
	if(state)
		return;
	
	gpio *green_led = (gpio *)ctx;
	green_led->toggle();
}
